from pynput import keyboard

# substitutions for dictation. For example, if detected "...", it will be replaced with space " "
substitutions = {
    "...": " ",
    " Some text wrong detected": " Needed text",
}

# hotkeys to invoke dictation.
hotkey_1 = keyboard.Key.f12
# on windows must use ctrl and alt modifirers with _l or _r suffix, shift should be just shift or shift_r on mac os can use anything everything without suffix. But will work with suffix also
hotkey_2 = {keyboard.Key.ctrl_l, keyboard.Key.shift, keyboard.Key.alt_l, keyboard.KeyCode.from_char('j')}

fallback_mic_index = 0
# Use this command in shell to enumerate devices and their names to add to priority list:
# python3 list_devices.py
priority_mic_names = ['Studio Display Microphone', 'MacBook Air Microphone']

# localization menu support for MacOs
mac_menu_edit = 'Правка'
mac_menu_paste = 'Вставить'

recordings_dir = 'recordings'
transcribe_server = 'http://127.0.0.1:5000/transcribe'

restore_clipborad_delay = 1 #    delay before restoring clipboard. Without delay Pasting happening slower, then restoring clipboard used for MacOs
v_delay = 0.5    # if you see Just let a 'v' typed, instead of your dictation, then increase the delay. Used for Windows